[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-restful = "*"
flask-cors = "*"
pymongo = "*"
python-dotenv = "*"
dnspython = "*"
pyjwt = "*"
flask-httpauth = "*"
waitress = "*"

[requires]
python_version = "3.7"
